form {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1em;
}

#tarea {
    background-color: white;
    padding-left: 1em;
}

#iconAdd {
    align-self: flex-end;
}

